/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
  --softblue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --darkbluemain: hsl(217, 54%, 11%); /*main bg*/
  --darkbluecard: hsl(216, 50%, 16%); /*card bg*/
  --darkblueline: hsl(215, 32%, 27%); /*line*/
  --white: hsl(0, 0%, 100%);
}

*{
  box-sizing: border-box;
}

body{
  background: var(--darkbluemain);
  margin: 0;
  padding: 0;
  font: 18px "Outfit", sans-serif;

  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card{
  background: var(--darkbluecard);
  border-radius: 1em;
  max-width: 375px;
  padding: 1em;
  color: var(--white);
}

.card img{
  max-width: 100%;
  border-radius: 1em;
}

.card__meta{
  display: flex;
  justify-content: space-between;
}

.card__artist{
  overflow: hidden;
}

.card__artist hr{
  border-color: var(--darkblueline);
}

.card__artist img{
  max-height: 100%;
}