/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* variables */
:root{
  --softblue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --darkbluemain: hsl(217, 54%, 11%); /*main bg*/
  --darkbluecard: hsl(216, 50%, 16%); /*card bg*/
  --darkblueline: hsl(215, 32%, 27%); /*line*/
  --white: hsl(0, 0%, 100%);
}

/* basic styling */
*{
  box-sizing: border-box;
}

body{
  background: var(--darkbluemain);
  margin: 0;
  padding: 0;
  font: 18px "Outfit", sans-serif;

  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card{
  background: var(--darkbluecard);
  border-radius: .8em;
  max-width: 375px;
  padding: 1em;
  color: var(--softblue);
  box-shadow: 0px 5px 25px -2px black;
}

.card img{
  max-width: 100%;
  border-radius: .8em;
}

/* text */
.card__text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__details > * > *{
  margin-block: .5em;
}

.card__text h2{
  color: var(--white);
}

/* price and time limit */
.card__meta{
  display: flex;
  justify-content: space-between;
}

.card__meta > div{ /*price and time limit containers*/
  display: flex;
  align-items: center;
  gap: .5em;
}

.nft-price span{
  color: var(--cyan);
}

/* artist */
.card__artist{
  overflow: hidden;
  display: flex;
  align-items: center;
}

.card__artist img{
  border: 1px solid white;
  border-radius: 50%;
  max-width: 10%;
  margin-right: .5em; 
}

.card__artist .artist{
  color: var(--white);
}

.attribution { font-size: .6em; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }